ion-content {
  --background: var(--ion-color-black);

  .row__center #outer-circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .light-on {
    border: 5px solid  var(--ion-color-primary);
  }
  .light-off {
    border: 5px solid var(--ion-color-fab-black);
  }

  .dark__icon {
    --background: var(--ion-color-fab-black);
    --backgrond-activated: var(--ion-color-fab-black);
    --color: var(--ion-color-black);
  }
}
